.btn
  display:inline-block
  padding:1em
  background:blue
  border-radius:3px
  color:white
  border:1px solid transparent
  transition:300ms
  text-align:center
  line-height:1em
  &:hover
    background:darkblue
  &.block
    display:block
    margin-top:1rem
  &.inverted
    background:transparent
    border-color:darkblue
    color:darkblue
    &:hover
      background:darkblue
      color:white
