#overlay
  width:50%
  position:absolute
  top:0
  right:0
  z-index:1000
  height:100%
  // background:rgba(0,0,0,.9)
  background:rgba(255,255,255,.95)
  box-shadow:0 12px 14px rgba(0,0,0,.5)
  *
    box-sizing:border-box
  .question
    width:90%
    margin:auto
    h1
      text-align:center
      color:grey
    .answers
      .btn
        width:100%
        margin:10px 0
