#videoContainer
  width: 1270px
  height: 720px
  margin:auto
  // position: absolute
  // transform: scale(1.0) translate(-50%,-50%)
  transform: scale(1.0)
  // top:50%
  // left:50%
  // overflow:hidden !important
  transition:400ms ease
  #video
    height: 100%
    width: 100%
    overflow: hidden
  &.zoom
    transform: scale(1.2) !important
    transition: 8000ms all !important
