white = #fafafa
lighterblue = #2F4254
lightblue = #3d566e
darkblue = #1e2a36
blue = #2c3e50
transparentBlue = rgba(44, 62, 80, 0.85)
grey = #646464

body
  margin:0
  padding:0
  background:white
  background:#242424
  font-family: 'Avenir', Helvetica, Arial, sans-serif

@import './partials/video'
@import './partials/overlay'
@import './partials/buttons'
